/*
 * Copyright (c) 2020 duckyb
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors/rgbled_widget.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        layer_0 {
            bindings = <
  &kp Q  &kp W  &kp E  &kp R   &kp T     &kp Y   &kp U   &kp I      &kp O    &kp P
  &kp A  &kp S  &kp D  &kp F   &kp G     &kp H   &kp J   &kp K      &kp L    &kp RET
  &kp Z  &kp X  &kp C  &kp V   &kp B     &kp N   &kp M   &kp COMMA  &kp DOT  &kp BSPC
                       &trans  &trans    &trans  &trans
            >;
        };

        layer_1 {
            bindings = <
  &kp LC(LS(ESCAPE))  &trans  &trans     &trans              &trans                 &kp LS(N7)        &kp N7          &kp N8  &kp N9  &kp EQUAL
  &trans              &trans  &kp LC(C)  &kp LC(LS(V))       &kp LC(V)              &kp LS(NUMBER_8)  &kp N4          &kp N5  &kp N6  &kp SQT
  &trans              &trans  &trans     &kp RA(LEFT_BRACE)  &kp RA(RIGHT_BRACE)    &kp LS(NUMBER_9)  &kp N1          &kp N2  &kp N3  &kp LC(BSPC)
                                         &trans              &trans                 &kp RALT          &kp LEFT_SHIFT
            >;
        };

        layer_4 {
            bindings = <
  &kp ESCAPE  &trans         &trans     &trans              &trans                 &kp LS(N7)        &kp N7          &kp UP_ARROW    &kp N9           &kp EQUAL
  &kp TAB     &trans         &kp LC(C)  &kp LC(LS(V))       &kp LC(V)              &kp LS(NUMBER_8)  &kp LEFT        &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp SQT
  &caps_word  &kp LESS_THAN  &kp MINUS  &kp RA(LEFT_BRACE)  &kp RA(RIGHT_BRACE)    &kp LS(NUMBER_9)  &kp RA(SQT)     &kp RA(BSLH)    &kp N3           &kp LC(BSPC)
                                        &kp LEFT_SHIFT      &lt 3 RIGHT_BRACE      &kp LC(LSHFT)     &kp LEFT_SHIFT
            >;
        };

        layer_2 {
            bindings = <
  &bt BT_SEL 0   &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &trans          &trans  &trans  &trans  &trans
  &bt BT_DISC 0  &trans        &trans        &trans        &trans          &studio_unlock  &trans  &trans  &trans  &trans
  &trans         &trans        &trans        &trans        &trans          &trans          &trans  &trans  &trans  &trans
                                             &trans        &trans          &trans          &trans
            >;
        };

        layer_3 {
            bindings = <
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
                          &trans  &trans    &trans  &trans
            >;
        };
    };
};
